<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <link rel="stylesheet" href="/assets/css/main.css"/>
    <noscript>
        <link rel="stylesheet" href="/assets/css/noscript.css"/>
    </noscript>


    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Meteo aplikace</title>
    {% endif %}
</head>
<body>
<div id="main" class="wrapper style1">
    <div class="container">
        <h3>Pyladies - webová aplikace</h3>
        {% block content %}{% endblock %}

    </div>
</div>
</body>
</html>