<html>
<head>
<style>
body {
    margin: 0;
    padding: 50px;
    font: 18px/1.5 sans-serif;
    background-color: white;
    color: black;
}

h1 {
    font-family: "Montserrat", serif;
    font-size: 36px;
}

table, th, td {
  border: 1px solid black;
  background-color: cyan;
}
</style>

    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Meteo aplikace</title>
    {% endif %}
</head>
<body>
<h1>Pyladies - webová aplikace</h1>
{% block content %}{% endblock %}
</body>
</html>